<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warehouse.mapper.ImpSubMapper">

<insert id="checkAdd">

	INSERT INTO impsub (impsubindex, impnum, impitemname, itemname, itemquantity, itemprice) VALUES (impsubindex.nextval, #{impnum}, #{impitemname}, #{itemname}, #{itemquantity}, #{itemprice}) 
	
</insert>



<select id="getList" resultType="com.warehouse.domain.ImpSubVO">
	
	SELECT
	
	impsubindex,
	impnum,
	impitemname,
	itemname,
	itemquantity,
	itemprice
	 
	FROM impsub
	 
	WHERE impnum = #{impnum}
	

</select>

<select id="gettotalList" resultType="com.warehouse.domain.ImpSubVO">
	
	SELECT
	
	impsubindex,
	impnum,
	impitemname,
	itemname,
	itemquantity,
	itemprice
	 
	FROM impsub
	
</select>

<delete id="checkDel">

	DELETE FROM impsub WHERE impsubindex = #{impsubindex}

</delete>

<update id="checkModify">

	UPDATE impsub SET
		impsubindex = #{impsubindex},
		impitemname = #{impitemname},
		itemname = #{itemname},
		itemquantity = #{itemquantity},
		itemprice = #{itemprice}
	WHERE impsubindex = #{impsubindex} 

</update>



</mapper>